<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>#{titel}</title>
   style 
      include ../static/style.css
</head>
<body>
   <nav>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/">About</a></li>
         <li><a href="/">Services</a></li>
         <li><a href="/">Contact Us</a></li>
      </ul>
   </nav>
   <div class="conatiner">
      <h1>Register Here To  Enroll Yourself!!</h1>
      <form action="/" method="post" id="contact">
        <input type="text" id="fname" name="name" placeholder="Enter Your Name">
        <input type="text" name="phoneno" placeholder="Enter Your Contact Number">
        <input type="text" name="email" placeholder="Enter Your Email-Id">
        <input type="text" name="age" placeholder="Enter Your Age">
        <input type="text" name="gender" placeholder="Enter Your Gender">
        <textarea name="address" id="" cols="30" rows="5" placeholder="Enter Your Address"></textarea>
        <textarea name="more" id="" cols="30" rows="5" placeholder="Enter Your About Yourself"></textarea>
        <button class="btn">Submit</button>
      </form>
   </div>
</body>
</html>